@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background: #333; 
}

body{
    font-family: 'Lora', serif;
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 400px;
    height: auto;
}

form {
    max-width: 80%;
}

label {
    padding-left: 10px;
    
}
input[type="text"], 
[type="email"], 
[type="password"] {
    border-radius: 8px;
    padding: 8px;
    margin: 0 0 10px 10px;
    
}
input[type="submit"]{
    padding: 10px;
    border-radius: 10px;
    margin: 0 0 0 10px;
    text-align: center;
}

.formSize{
    margin-top: 20px;
}

.logo{
    width: 50px;
    height: 50px;
}



/* Menu page css*/
.menu-container{
    margin-top: 20px;
    
}

.menu-container > h2 {
    text-align: center;
    font-size: 140%;
  
}

.menu-container  h2 {
    text-align: center;
    font-size: 90%;
   
}

.menu-container  p{
    text-align: center;
    font-size: 70%;
}


.menu-container .card{
    width: 18rem;
    margin-bottom: 20px;

}

.menu-container img{
    width: 100%;
    
}


.second-row  h2{
    text-align: center;
    font-size: 90%;

}

.second-row  p{
    text-align: center;
    font-size: 70%;
    
}

.second-row .card{
    width: 18rem;
  

}

/*footer*/

#footer-section{
    background: #222;
    width: 100%;
}
.footer{
    margin-top: 40px;  
      
}

.footer h2{
    text-align: center;
    font-size: 100%;
    padding-top: 30px;
}

@media (max-width: 990px) {
    img {
        max-width: 200px;
    }
}